---
title: Tags
layout: default
description: Tags
---
<div id="tag_cloud" class="tags">
    {% for tag in site.tags %}
    <div>
        <a href="#{{ tag[0] }}" title="{{ tag[0] }}" rel="{{ tag[1].size }}"
            >{{ tag[0] }}</a
        >
    </div>
    {% endfor %}
</div>

{% for tag in site.tags %}
<div class="one-tag-list">
    <span class="fa fa-tag listing-seperator" id="{{ tag[0] }}">
        <h2>{{ tag[0] }}</h2>
    </span>
    {% for post in tag[1] %}
    <div class="post-preview">
        <a href="{{ post.url | prepend: site.baseurl }}">
            <p class="post-title">{{ post.title }}</>
        </a>
        <!-- <p class="post-meta">{{ post.date | date:"%Y-%m-%d" }}</p> -->
    </div>
    {% endfor %}
</div>
{% endfor %}
