{% if page.comments %}
  <div id="disqus_thread"></div>
  <script>
      // https://disqus.com/admin/universalcode/#configuration-variables
      var disqus_config = function () {
        this.page.url = "{{ page.url | absolute_url }}";
        {% if page.pageId %}
          this.page.identifier = "{{ page.pageId }}";
        {% else %}
          this.page.identifier = "{{ page.slug }}";
        {% endif %}
      };
      (function() {
        var d = document, s = d.createElement('script');
        s.src = 'https://ink-insertcoin.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
      })();
  </script>
  <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
{% endif %}
