{% if include.category %}
  {% assign posts = site.categories[include.category] %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

{% if include.limit and posts.size > include.limit %}
  {% assign limit_exceeded = true %}
{% else %}
  {% assign limit_exceeded = false %}
{% endif %}

{%- if posts.size > 0 -%}
  <section class="posts">
    {%- for post in posts limit: include.limit -%}
        <article pubdate="{{- post.date | date: site.theme_config.date_format -}}">
          <h2 itemprop="headline">
            <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
          </h2>
          <small class="readtime">{% include reading-time.html content=post.content %}</small>
          <section>
            {{ post.excerpt }}
          </section>
          <!-- <span>{{- post.date | date: site.theme_config.date_format -}}</span> -->
          <div class="readmore">
            read the full post at <a href="{{ post.url | relative_url }}">{{ post.url | absolute_url }}</a>
          </div>
        </article>
    {%- endfor -%}
    {%- if include.show_more and limit_exceeded -%}
      <li><a href="{{ include.show_more_url }}">{{ include.show_more_text | default: "Show more..." }}</a></li>
    {%- endif -%}
  </section>
{%- endif -%}
